In [5]:
import pandas as pd
import numpy as np

In [6]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = "4bfa18d4dd4f5d041a3d88cfb6728654"

In [7]:
data = pd.read_csv("movie_data_upto_2022_march.csv")

In [8]:
data

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,combine
0,avatar,Action Adventure Fantasy Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi James Cameron ...
1,pirates of the caribbean: at world's end,Action Adventure Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy Gore Verbinski Johnny...
2,spectre,Action Adventure Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller Sam Mendes Christoph...
3,the dark knight rises,Action Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller Christopher Nolan Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Documentary,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary Doug Walker Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
6561,the lost city,Action Adventure Comedy Romance,Aaron Nee Adam Nee,Sandra Bullock,Channing Tatum,Daniel Radcliffe,Action Adventure Comedy Romance Aaron Nee Adam...
6562,everything everywhere all at once,Action Science Fiction Comedy,Daniel Kwan Daniel Scheinert,Michelle Yeoh,Stephanie Hsu,Ke Huy Quan,Action Science Fiction Comedy Daniel Kwan Dani...
6563,infinite storm,Drama Thriller,Małgorzata Szumowska Michał Englert,Naomi Watts,Billy Howle,Sophie Okonedo,Drama Thriller Małgorzata Szumowska Michał Eng...
6564,7 days,Thriller Drama Crime,Roshan Sethi,Karan Soni,Geraldine Viswanathan,Mark Duplass,Thriller Drama Crime Roshan Sethi Karan Soni G...
6565,moonshot,Comedy Romance Science Fiction,Chris Winterbauer,Cole Sprouse,Lana Condor,Mason Gooding,Comedy Romance Science Fiction Chris Winterbau...

In [9]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def extract_id(x, id):
    m_id = id
    result = tmdb_movie.search(x)
    if not result:
        # This "if not result" condition is specifically added for 2020 data as for some movie we don't get result on TMBb
        return np.NaN
    else:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        # extracting data in json format
        data_json = response.json()
        # Actually there's a key "id" which basically holds the movie id and another key "imdb_id" 
        # which holds the movie's imdb id. 

        if m_id == "movie":
            # returns movie's id
            return data_json["id"]
        if m_id == "imdb":
            # returns movie's imdb id
            return data_json["imdb_id"]

In [10]:
results = tmdb_movie.search("the lost city")
movie_ids = results[0].id
responses = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_ids,tmdb.api_key))
# extracting data in json format
dat_json = responses.json()
dat_json
# results

{'adult': False,
 'backdrop_path': '/1Ds7xy7ILo8u2WWxdnkJth1jQVT.jpg',
 'belongs_to_collection': None,
 'budget': 74000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 35, 'name': 'Comedy'}],
 'homepage': 'https://www.thelostcity.movie/',
 'id': 752623,
 'imdb_id': 'tt13320622',
 'original_language': 'en',
 'original_title': 'The Lost City',
 'overview': "Reclusive author Loretta Sage writes about exotic places in her popular adventure novels that feature a handsome cover model named Alan. While on tour promoting her new book with Alan, Loretta gets kidnapped by an eccentric billionaire who hopes she can lead him to the ancient city's lost treasure that featured in her latest story. Alan, determined to prove he can be a hero in real life and not just on the pages of her books, sets off to rescue her.",
 'popularity': 63.103,
 'poster_path': '/neMZH82Stu91d3iqvLdNQfqPPyl.jpg',
 'production_companies': [{'id': 4,
   'logo_path': '/gz66EfNoYPqHTYI4q9UEN4CbHRc.png',
   'name': 'Paramount',
   'origin_country': 'US'},
  {'id': 4258,
   'logo_path': None,
   'name': 'Fortis Films',
   'origin_country': 'US'},
  {'id': 123420,
   'logo_path': None,
   'name': '3dot Productions',
   'origin_country': 'US'},
  {'id': 121737,
   'logo_path': None,
   'name': 'Exhibit A Film',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2022-03-24',
 'revenue': 192907684,
 'runtime': 112,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'},
  {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'},
  {'english_name': 'Latin', 'iso_639_1': 'la', 'name': 'Latin'}],
 'status': 'Released',
 'tagline': 'The adventure is real. The heroes are not.',
 'title': 'The Lost City',
 'video': False,
 'vote_average': 6.609,
 'vote_count': 2931}

In [11]:
data['movie_id'] = data['movie_title'][:3].map(lambda x: extract_id(x, "movie"))

In [12]:
a = extract_id(data.movie_title[50], "movie")

In [13]:
data

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,combine,movie_id
0,avatar,Action Adventure Fantasy Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi James Cameron ...,19995.0
1,pirates of the caribbean: at world's end,Action Adventure Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy Gore Verbinski Johnny...,285.0
2,spectre,Action Adventure Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller Sam Mendes Christoph...,206647.0
3,the dark knight rises,Action Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller Christopher Nolan Tom Hardy Ch...,NaN
4,star wars: episode vii - the force awakens,Documentary,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary Doug Walker Doug Walker Rob Walker...,NaN
...,...,...,...,...,...,...,...,...
6561,the lost city,Action Adventure Comedy Romance,Aaron Nee Adam Nee,Sandra Bullock,Channing Tatum,Daniel Radcliffe,Action Adventure Comedy Romance Aaron Nee Adam...,NaN
6562,everything everywhere all at once,Action Science Fiction Comedy,Daniel Kwan Daniel Scheinert,Michelle Yeoh,Stephanie Hsu,Ke Huy Quan,Action Science Fiction Comedy Daniel Kwan Dani...,NaN
6563,infinite storm,Drama Thriller,Małgorzata Szumowska Michał Englert,Naomi Watts,Billy Howle,Sophie Okonedo,Drama Thriller Małgorzata Szumowska Michał Eng...,NaN
6564,7 days,Thriller Drama Crime,Roshan Sethi,Karan Soni,Geraldine Viswanathan,Mark Duplass,Thriller Drama Crime Roshan Sethi Karan Soni G...,NaN
6565,moonshot,Comedy Romance Science Fiction,Chris Winterbauer,Cole Sprouse,Lana Condor,Mason Gooding,Comedy Romance Science Fiction Chris Winterbau...,NaN

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
def create_similarity():
    data = pd.read_csv("movie_data_upto_2022_march.csv")
    cv = CountVectorizer()
    c_matrix = cv.fit_transform(data["combine"]+data["combine"])
    similarity = cosine_similarity(c_matrix)
    return data, similarity

In [16]:
data, similarity = create_similarity()

In [17]:
def recommend(m, data, similarity):
    m = m.lower()
    if m not in data.movie_title.unique():
        return print("Sorry, we dont have your movie.")
    else:
        data = data
        similarity = similarity
        i = data.movie_title.loc[data.movie_title == m].index[0]
        lst = list(enumerate(similarity[i]))
        lst = sorted(lst, key = lambda x : x[1], reverse=True)
        lst = lst[1:11]
        movies = []
        for i in range(len(lst)):
            movies.append(data.movie_title[lst[i][0]])
        return movies

In [21]:
recommend("fast five", data, similarity)
# see there are some movies which have same name due to which you may get the same movie in the recommended movies

['the fast and the furious',
 'f9',
 'the fate of the furious',
 'furious 7',
 '2 fast 2 furious',
 'takers',
 'brick mansions',
 'the death and life of bobby z',
 'into the blue',
 'a man apart']

In [19]:
data.loc[data.director_name == "Denis Villeneuve"]

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,combine
1032,prisoners,Crime Drama Mystery Thriller,Denis Villeneuve,Hugh Jackman,Jake Gyllenhaal,Dylan Minnette,Crime Drama Mystery Thriller Denis Villeneuve ...
1571,sicario,Action Crime Drama Mystery Thriller,Denis Villeneuve,Edgar Arreola,Bernardo Saracino,Daniel Kaluuya,Action Crime Drama Mystery Thriller Denis Vill...
3423,incendies,Drama Mystery War,Denis Villeneuve,Lubna Azabal,Mélissa Désormeaux-Poulin,Ahmad Massad,Drama Mystery War Denis Villeneuve Lubna Azaba...
6434,dune,Science Fiction Adventure,Denis Villeneuve,Timothee Chalamet,Rebecca Ferguson,Oscar Isaac,Science Fiction Adventure Denis Villeneuve Tim...